<div class="panel-wrap step-1" data-ng-controller="step1Controller">
	<h3>Step 1: Select video</h3>
    <div class="panel-body clearfix">
        
            <p class="instruction">You can select any existing video from the below thumbnail menu or can type the URL of a video in the provided text input box.</p>
            <h2>
            <input type="radio" value="existing" checked id="exsting-video" name="video-type-rdo">Select from existing video files (Click on any thumbnail to select the video)</h2>
            <div class="rounded-holder">
            <ul id="video-carousel" class="jcarousel-skin-tango">
                <li data-ng-repeat="video in videos" data-ng-click="selectVideo($index, $event)" data-video-path='{{video.url}}' data-video-id='{{video.id}}'>
                	<a href="javascript:void(0);"><img src="{{video.thumbnailUrl}}"  alt="" /></a>
                </li>
            </ul>
			</div>
            <h2><input type="radio" value="web" id="web-video" name="video-type-rdo">Type URL of a video in the below input box</h2>
            <div class="video-options hide clearfix">
                <input type="text" class="video-logger-input" id="url-input" />
                <!--<input type="button" class="video-logger-btn" id="play-btn" value="Load" />-->
         </div>
         <input type="button" class="video-logger-btn f-right top-gap" id="to-step-2-btn" data-ng-click="showStep2()" value="Go to step 2" />
     </div>
</div>