<div id="layoutdiv"  data-ng-controller="step3Controller"  class="pane ui-layout-center">
<div class="pane ui-layout-north">
	<a href="javascript:void(0)" title="Cognizant" class="logo">
    	<img width="88" height="26" src="../images/cognizant-logo.png" alt="logo">
    </a>
    
    <div>
    	<span style="float:right;margin-right:30px"><label style="margin-right: 10px;">Project Name:</label>{{selectedVideo.projectName}}</span>
    </div>
    
</div>
<div class="pane ui-layout-center">


	
<div class="panel-wrap step-3">
	<!--<h3> 
	
	 <span style="float:right;margin-right:20px">
	 <a title="Misc" class="misc" id="navi-menu" href="#navi">
      	<img width="18" height="21" src="../images/toggle.png" alt="logo">
      </a>
	</span> 
	
	</h3>-->
            
            <div id="navi">
	            <div class="added-action-list1">
		            <div class="navHeader">Legend</div>
		            <div style="padding:10px;">
							<table data-ng-class="{'has-hot-key': hasHotKey(action)}"
								data-ng-repeat="action in selectedVideo.actions" width="100%">
								<tr style="height: 30px;">
								<td  width="40px"><span data-ng-if="hasHotKey(action)"
								title="Key board shortcut for this action is {{action.hotKeyChar}}"
								class="hotkeyNav"	style="background-color: {{action.style.backgroundColor}}">{{action.hotKeyChar}}</span>
								</td>
								<td style="text-align: left;">
								{{action.name}} 
								</td>
								</tr>
								
								
								
							</table>
					</div>
				</div>
            </div>
	
	<div class="panel-body1 clearfix">
		<section class="logger-section">
						
			
		</section>
		<section class="data-section">
			<div class="panel-wrap">
				<div class="capturedPanel">					
					<div class="f-right">
						<a title="Preview logged video" id="preview" class="log-action"
							href="javascript:void(0)" data-ng-click="preview()">Preview</a> <a
							title="Go back to logger screen" id="back-to-logger"
							class="log-action hide" href="javascript:void(0)"
							data-ng-click="backToLogger()">Back to logger</a> <a
							title="View generated log" id="view-log" class="log-action"
							data-ng-click="viewLog()" href="javascript:void(0)">View log</a>
						<a title="Submit the log to server" id="submit-log"
							class="log-action" href="javascript:void(0)"
							data-ng-click="saveVideoLog()">Save Project</a>	
							<a title="Publish Log" id="publish-log"
							class="pub-action" href="javascript:void(0)"
							data-ng-click="publishVideoLog()">Publish</a>	
					</div>
				</div>
				<div class="capturedPanelBody">
					<table class="logg-table" id="clip-logger">
						<thead>
							<tr>
								<th class="col-2">Action</th>
								<th class="col-1">In time</th>
								<th class="col-5">Out time</th>
								<th class="col-3">Note</th>
								<th class="col-4">&nbsp;</th>
							</tr>
						</thead>
						<tbody>
							<tr data-ng-repeat="log in selectedVideo.videoLogs" id="logRow{{$index}}"
								data-ng-click="showLogVideo($index)">
								<td><span data-ng-if="hotKeyCharStyle($index) === ''">{{log.action}}</span>
									<span style="background-color: {{hotKeyCharStyle($ index)"
									class="hotkeyl" title=""
									data-ng-if="hotKeyCharStyle($index) != ''">{{log.hotKeyChar}}</span>
								</td>
								<td>{{log.startTime}}</td>
								<td>{{log.endTime}}</td>
								<td>{{log.note}}</td>
								<td><a href="javascript:void(0)"
									data-ng-click="deleteLog()" class="delete-cue hideText"
									title="Delete this log entry">Delete this log entry</a></td>
							</tr>
						</tbody>
						<tbody></tbody>
					</table>
				</div>
			</div>
			<div id="previewData"></div>

			<div id="wikidiv"
				style="height: 200px; width: 500px; overflow: auto;"></div>


		</section>
	</div>
	
	<section class="modal-popup" id="project-name-popup">
		<h2>Project Name :</h2>
		<input type="text" data-ng-model="selectedVideo.projectName" value="{{selectedVideo.projectName}}">
		<input type="button" value="Save Project"
			data-ng-click="saveVideoLog('save')">
	</section>

</div>


</div>
<div class="pane ui-layout-west">
	<div class="pane ui-layout-north" id="videoDivNorth">
	
	<div class="video-holder" id="video-holder-div">
				<div id="helper"
					style="width: 50px; height: 50px; z-index: 9999; position: absolute !important;">
					<div id="image"></div>
				</div>
				<div class="loading-wrap">
					<img src="../images/loading.gif" alt="Loading image" width="105"
						height="16">
					<div>Loading video. Please wait</div>
				</div>
			</div>
	
	</div>	
	<div class="pane ui-layout-center" id="logDivCenter">

			<div class="logger-holder">
				<!-- <h2>
					Logger
				</h2> -->

				<section class="actions">
					<ul class="added-action-list1 clearfix">
						<li data-ng-class="{'has-hot-key': hasHotKey(action)}"
							data-ng-repeat="action in selectedVideo.actions"
							data-ng-click="applyAction($index, $event)">{{action.name}}
							<span data-ng-if="hasHotKey(action)"
							title="Key board shortcut for this action is {{action.hotKeyChar}}"
							class="hotkey"
							style="background-color: {{action.style.backgroundColor}}">{{action.hotKeyChar}}</span>
						</li>
					</ul>
				</section>
				<div class="time-logger clearfix">
					
						
						<div>
						<table width="100%">
						<tr class="row">
							<td>
							<label>Action:</label><span id="actionSpan">{{currentLog.action}}</span>
							</td>
							<td>
							<label>Event:</label> 
							<!-- <select id="eventSelect"
								data-ng-model="currentLog.eventType"
								> -->
								<select id="eventSelect"
								data-ng-model="currentLog.eventType">
								<option value="Subtitle">Subtitle</option>
								<option value="Pop">Annotation</option>
								<option value="Footnote">Footnote</option>
							</select>
							</td>
						</tr>
						<tr class="row">
							<td><label>In time:</label> <input type="text" 
								id="in-time-input" data-ng-model="currentLog.startTime"
								value="{{currentLog.startTime}}" style="padding: 5px !important;"/> <a
								href="javascript:void(0)" class="intime-btn hideText"
								title="Click to log clip start time"
								data-ng-click="logCurrentTime('IN')"></a></td>
								<td><label>Out time:</label> <input type="text"
								id="out-time-input"
								data-ng-model="currentLog.endTime"
								value="{{currentLog.endTime}}" style="padding: 5px !important;" /> <a id="outtime-btn" href="javascript:void(0)"
								class="outtime-btn hideText" title="Click to log clip end time"
								data-ng-click="logCurrentTime('OUT')">Click to log clip end
								time</a></td>
						</tr>
						
						<tr class="row">
							<td colspan="2">
								<label>Note:</label>
								<input type="text"  style="padding: 5px !important;" size="84" id="clip-notes"
							data-ng-model="currentLog.note" autofocus></input>
							<a href="javascript:void(0);" class="myButton" id="enter-log-btn" data-ng-click="addLog()">Log Entry</a>
							</td>
							
						</tr>
						</table>
							
						</div>
						
				
					
				</div>
			</div>

	</div>
</div> 
<div class="pane ui-layout-south footer">

    	&copy; 2013 Cognizant. All rights reserved.
</div>
</div>

<section class="modal-popup" id="log-preview-popup">
    	<h2>Video metadata :</h2>
        <div class="video-meta-data"></div>
        <h2>Action data :</h2>
        <div class="action-data"></div>
        <h2>Clip data :</h2>
        <div class="clip-data"></div>
    </section>

