<!DOCTYPE html>
<html>
<head>
<title>Layout Example</title>
<link type="text/css" rel="stylesheet" href="layout-default-latest.css">
<script type="text/javascript" src="jquery-latest.js"></script>
<script type="text/javascript" src="jquery-ui-latest.js"></script>
<script type="text/javascript" src="jquery.layout-latest.js"></script>
<script type="text/javascript">
$(document).ready(function () {
	var pageLayout = $('body').layout({	
        spacing_open:2,
		north :{
			resizable: false,
			slidable:false,
			closable:false
		},
		south :{
			resizable: false,
			slidable:false,
			closable:false
		},		
		west__size: .60, 		
		west__minSize: .60, 		
		west__childOptions: {
			spacing_open:2,		
			north__size:.60,
			north__minSize:.60			
		}
	});
}); 
</script>
</head>
<body>
<div class="ui-layout-north">Outer North</div>
<div class="ui-layout-center">Outer Center</div>
<div class="ui-layout-west">
	<div class="ui-layout-north">Middle North</div>	
	<div class="ui-layout-center">Middle Center</div>
</div> 
<div class="ui-layout-south">Outer South</div>
</body>
</html>