<web-app xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance"
	xmlns="http://java.sun.com/xml/ns/javaee" xmlns:web="http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	xsi:schemaLocation="http://java.sun.com/xml/ns/javaee
http://java.sun.com/xml/ns/javaee/web-app_2_5.xsd"
	id="WebApp_ID" version="2.5">
	<servlet>
		<servlet-name>SaveVideoLog</servlet-name>
		<servlet-class>com.cognizant.videologger.web.SaveVideoLog</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>SaveVideoLog</servlet-name>
		<url-pattern>/saveVideoLog</url-pattern>
	</servlet-mapping>
	
	<servlet>
		<servlet-name>GetVideoLog</servlet-name>
		<servlet-class>com.cognizant.videologger.web.GetVideoLog</servlet-class>
	</servlet>
	<servlet-mapping>
		<servlet-name>GetVideoLog</servlet-name>
		<url-pattern>/getVideoLog</url-pattern>
	</servlet-mapping>
	<welcome-file-list>
		<welcome-file>/video-poc/html/video-logger.htm</welcome-file>
	</welcome-file-list>
</web-app>